h1 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
}

pre {
    background-color: #172554;
    padding: 20px;
    border-radius: 10px;
    overflow-x: scroll;
}

.pl-en {
    color: #8994b6;
}

.pl-s {
    color: rgb(214, 88, 88);
}

.pl-s1 {
    color: rgb(204, 175, 79);
}

.blog-content a {
    color: #3b82f6;
    font-style: italic;
}