.blog-content h2 {
    font-size: 24px;
}

.blog-content h3 {
    font-size: 20px;
}

.blog-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-contente pre {
    background-color: #172554;
    padding: 20px;
    border-radius: 10px;
    overflow-x: scroll;
}

.pl-en {
    color: #8994b6;
}

.pl-s {
    color: rgb(214, 88, 88);
}

.pl-s1 {
    color: rgb(204, 175, 79);
}

.blog-content a {
    font-style: italic;
    background-color: #3b82f6;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #60a5fa;
}

.blog-content br {
    margin-bottom: 20px;
}